form .input-wrapper {
    display: flex;
    width: 505px;
    margin: 30px;
    justify-content: space-between ;
}

.input-wrapper input {
    outline: none;
}

form .input-wrapper input {
    border: 1px solid #E4E4E4;
    padding-left: 5px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
    border-radius: 25px;
    width: 390px;
    height: 35px;

}

.input-wrapper label {
    font-size: 26px;
}

form .area{
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.area label{
    font-size: 26px;
    margin-bottom: 25px;
}

.area textarea{
    width: 480px;
    padding: 10px;
    height: 230px;
    line-height: 1.5;
    resize: none;
    border: 1.2px solid #f1f1f1;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
    border-radius: 25px;
}

.area textarea{
    outline: none;
}

form .button-wrapper {
    display: flex;
    justify-content: flex-end;
    
}
button {
    margin: 30px;
    width: 225px;
    height: 35px;
    align-items: center;
    color: #ffffff;
    border: 0px solid;
    background-color: #6975E8;
    border-radius: 5px;
}