* {
    padding: 0;
    margin: 0;
}



form .input {
    display: flex;

}

form .input input {
    border-radius: 5px;
}

button {
    width: 225px;
    height: 35px;
    color: #FFFFFF;
    background-color: #6975E8;
}