section {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 50px;
}

.hero-section {
	gap: 120px;
}

.headline {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.headline h1 {
	font-size: 3rem;
}

.headline p {
	font-size: 1.25rem;
}

.headline .call-to-action {
	background-color: #333333;
	color: #ffffff;
	padding: 15px;
	font-size: 1.1rem;
	font-spacing: 1px;
	border-radius: 40px;
	border: none;
	cursor: pointer;
	width: 275px;
}

.headline .call-to-action:hover {
	background-color: #444444;
}

.card-section {
	gap: 20px;
}
