.card {
	border-radius: 16px;
	padding: 16px 34px;
	width: 100%;
	max-width: 400px;
}

.card h2 {
	font-size: 3rem;
	color: #ffffff;
}

.card div {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	margin-bottom: 40px;
}

.card h3 {
	font-size: 1.5rem;
	margin-bottom: 10px;
}

.card p {
	font-size: 1.1rem;
}

.card img {
	border-radius: 50%;
	width: 32px;
	height: 32px;
}
